html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.fill {
    width: 100%;
    height: 100%;
}

.row.no-gutter {
    --bs-gutter-x: 0rem;
}

#map {
    width: 100%;
    height: 500px;
}